<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	
	<context:annotation-config />
	<bean class="gxu.software_engineering.shen10.market.core.SpringBeans" />
	
	<mvc:annotation-driven />
	<mvc:resources mapping="/resources/**" location="/resources/" />
	
	<mvc:interceptors>
		<!--
			 由于只有Android客户端了，当用户成功登陆之后就已经默认他是已经登陆的了，所以取消原有的拦截器。
		<mvc:interceptor>
			<mvc:mapping path="/users/*/modify" />
			<mvc:mapping path="/items/add" />
			<mvc:mapping path="/records/add" />
			<bean class="gxu.software_engineering.shen10.market.interceptor.UserInterceptor" />
		</mvc:interceptor>
		-->
		<mvc:interceptor>
			<mvc:mapping path="/admin/**" />
			<mvc:mapping path="/categories/add" />
			<mvc:mapping path="/categories/*/modify" />
			<mvc:mapping path="/users/block" />
			<mvc:mapping path="/users/*/alter" />
			<mvc:mapping path="/users/*/reset_pwd" />
			<mvc:exclude-mapping path="/admin/login" />
			<mvc:exclude-mapping path="/admin/_login" />
			<bean class="gxu.software_engineering.shen10.market.interceptor.AdminInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
</beans>
